<div class="container-fluid">

  <div class="filter-container">
    

    <div>
      <input type="number" min="0" placeholder="min" [(ngModel)]="min">
    </div>
    
    <div>
      <input type="number" min="0" placeholder="max" [(ngModel)]="max">
    </div>
    
    <div>
      <input type="checkbox" [(ngModel)]="onlyAvailable" id="filter-available">
      <label for="filter-available">filtrer disponible</label>
    </div>
    
  </div>

  <div class="row">
    <div class="card col-3 mb-2 mt-2"  *ngFor="let p of stock | available:onlyAvailable | priceFilter:min:(max==0?undefined:max); let i = index">
      <img src="{{p.image}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{p.name}}</h5>
        <p class="card-text">{{p.description}}</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">ID: {{p.id}}</li>
        <li class="list-group-item">Price: {{ p.price | currency:'EUR':'symbol' }}</li>
        <li class="list-group-item">Quantity: {{p.quantity}}</li>
      </ul>
      <a class="btn btn-primary mb-2 mt-2" (click)="modify(p)" >Reduire stock</a>
      <a class="btn btn-primary mb-2 mt-2" [routerLink]="'/produit/'+p.id">Détails</a>

    </div>
  </div>
</div>

